src/main/resources/schema/pacs.008.001.08.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.08"
           xmlns="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.08"
           elementFormDefault="qualified">
  <xs:element name="Document" type="Document"/>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="FIToFICstmrCdtTrf" type="FIToFICustomerCreditTransferV08"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FIToFICustomerCreditTransferV08">
    <xs:sequence>
      <xs:element name="GrpHdr" type="GroupHeader93"/>
      <xs:element name="CdtTrfTxInf" type="CreditTransferTransaction39" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupHeader93">
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text"/>
      <xs:element name="CreDtTm" type="xs:dateTime"/>
      <xs:element name="NbOfTxs" type="Max15NumericText"/>
      <xs:element name="SttlmInf" type="SettlementInstruction7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SettlementInstruction7">
    <xs:sequence>
      <xs:element name="SttlmMtd" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditTransferTransaction39">
    <xs:sequence>
      <xs:element name="PmtId" type="PaymentIdentification7"/>
      <xs:element name="IntrBkSttlmAmt" type="ActiveCurrencyAndAmount"/>
      <xs:element name="ChrgBr" type="Max35Text"/>
      <xs:element name="Dbtr" type="PartyIdentification"/>
      <xs:element name="DbtrAcct" type="CashAccount"/>
      <xs:element name="Cdtr" type="PartyIdentification"/>
      <xs:element name="CdtrAcct" type="CashAccount"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentIdentification7">
    <xs:sequence>
      <xs:element name="InstrId" type="Max35Text" minOccurs="0"/>
      <xs:element name="EndToEndId" type="Max35Text"/>
      <xs:element name="TxId" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActiveCurrencyAndAmount">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PartyIdentification">
    <xs:sequence>
      <xs:element name="Nm" type="Max140Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccount">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="35"/></xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max140Text">
    <xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="140"/></xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max15NumericText">
    <xs:restriction base="xs:string"><xs:pattern value="[0-9]{1,15}"/></xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CurrencyCode">
    <xs:restriction base="xs:string"><xs:pattern value="[A-Z]{3}"/></xs:restriction>
  </xs:simpleType>
</xs:schema>
